body {
  font-family: "Montserrat", sans-serif;
}

.page-light {
  background-color: #696969;
}

.page-dark {
  background-color: #d7b399;
  margin-bottom: 0;
}

.page-off {
  background-color: #212121;
}

.page-pre {
  margin-bottom: 40px;
}

.wrapper {
  max-width: 1110px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 20px;
  padding-top: 20px;
  background-image: url("../Chapter1/img/logo-lights.svg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.nav {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  list-style-type: none;
  padding-left: 0;
}

.nav-item-one {
  margin-right: 50px;
}

.nav-item-two {
  margin-left: 38px;
  margin-right: 4px;
}

.nav-link {
  color: #000000;
  text-decoration: none;
}

.cart {
  background-image: url("../Chapter1/img/buck.svg");
  padding-left: 45px;
  display: block;
  height: 30px;
  background-repeat: no-repeat;
  background-position: 0 center;
  text-decoration: none;
}

.cart-count {
  background-image: url("../Chapter1/img/cart-bg.svg");
  background-repeat: no-repeat;
  background-position: 0 center;
  color: #f8f8ff;
  font-size: 12px;
  font-weight: 700;
  padding: 10px 25px;
  display: block;
}

.tilte-h2 {
  text-align: center;
  font-size: 36px;
}

.btn {
  background-color: #b22222;
  color: #000000;
  font-size: 16px;
  text-transform: uppercase;
  text-decoration: none;
  padding: 18px 28px;
}

.btn-do {
  background-color: #212121;
  color: white;
}

.btn-center {
  display: block;
  background-color: #000000;
  color: white;
  text-align: center;
  max-width: 200px;
  margin: 0 auto;
}

.btn-center span {
  margin-right: 15px;
}

.main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.main-item {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
}

.main .sale-discription {
  font-size: 30px;
  letter-spacing: -0, 6px;
}

.main .sale-title {
  font-size: 55px;
  font-weight: 700;
  margin-top: 30px;
  margin-bottom: 60px;
}

.main .box {
  position: relative;
}

.main .box-price {
  position: absolute;
  right: 180px;
  text-align: right;
  top: 35px;
}

.main .box-price-old {
  font-size: 24px;
  width: 700;
}

.main .box-price-new {
  font-size: 24px;
  width: 700;
  color: #b22222;
  margin-top: 10px;
}

.notice {
  text-align: center;
  color: #f8f8ff;
  padding: 64px 0 54px;
}

.notice-title {
  font-size: 30px;
  font-weight: 400;
}

.notice-description {
  font-size: 21px;
  color: #f8f8ff;
  text-decoration: none;
}

.collection {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.collection-item {
  font-size: 16px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
  padding: 50px 0;
  background-size: 190px 171px;
  background-repeat: no-repeat;
  background-position: 60% 50%;
  margin-bottom: 45px;
  margin-top: 45px;
}

.collection-man {
  background-image: url("../img/men.png");
  margin-right: 200px;
}

.collection-women {
  background-image: url("../img/women.png");
  background-repeat: no-repeat;
}

.collection-tilte {
  font-size: 24px;
  font-weight: 300;
}

.collection-description {
  font-size: 16px;
  margin-bottom: 30px;
}

.product {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 40px;
}

.product-item {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 24%;
          flex: 0 0 24%;
  position: relative;
}

.product-item:before, .product-item:after {
  content: "";
  display: block;
  width: 100%;
  height: 25px;
  background-size: cover;
  background-repeat: no-repeat;
}

.product-item:before {
  background-image: url("../img/ramcsus.svg");
}

.product-item:after {
  background-image: url("../img/ramcjos.svg");
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer-logo {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 40%;
          flex: 0 0 40%;
  padding: 30px 5px;
}

.footer-nav {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 60%;
          flex: 0 0 60%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: #f8f8ff;
}

.footer-list {
  list-style-type: none;
  padding-left: 0;
}

.footer-list-item {
  margin-top: 10px;
  margin-bottom: 10px;
  color: #212121;
}

.footer-list-title {
  font-size: 20px;
  font-weight: 700;
  color: #f8f8ff;
}

.footer-list-link {
  color: #212121;
  text-decoration: none;
  font-size: 14px;
}

.footer-list-img2 {
  margin-right: 8px;
}

.header-fixed {
  position: fixed;
  top: 0;
  left: 0;
  -webkit-animation-name: show_header;
          animation-name: show_header;
  -webkit-animation-duration: 0.1s;
          animation-duration: 0.1s;
  width: 1920px;
}

@-webkit-keyframes show_header {
  0% {
    opacity: 0;
    top: -70px;
  }
  100% {
    opacity: 1;
    top: 0;
  }
}

@keyframes show_header {
  0% {
    opacity: 0;
    top: -70px;
  }
  100% {
    opacity: 1;
    top: 0;
  }
}

a {
  text-decoration: none;
}
